    html {
        margin: 0;
        min-height: 100%;
        position: relative;
    }
    
    body {
        font-weight: 400;
        font-size: 15px;
        color: #1d3c41;
        overflow-y: scroll;
        font-family: sans-serif;
        margin: 0 auto;
    }
    
    header {
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 9;
        background: #d5f2ec;
        top: 0px;
    }
    
    main {
        margin-top: 60px;
        padding: 20px;
        overflow: hidden;
    }
    
    h2.pageBlog {
        font-size: 18px;
        color: #7062fa;
        margin-left: 20px;
        line-height: 25px;
        font-weight: 600;
        display: inline-block;
    }
    
    h2.contentHeader {
        margin: 0px;
        font-size: 25px;
        color: #222;
        font-weight: 600;
        clear: both;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    
    #wrapper {
        width: 100%;
        right: 0px;
        margin: 0px auto;
        position: relative;
    }
    
    .logo {
        float: left;
        height: 60px;
        margin: 0px;
        padding: 0px
    }
    
    .logo a img {
        vertical-align: -webkit-baseline-middle;
    }
    
    .logo a {
        line-height: 40px;
    }
    
    .mainnav {
        float: right;
        height: 30px;
    }
    
    .mainnav ul {
        list-style-type: none;
        margin-top: 20px;
    }
    
    .mainnav ul li {
        display: inline;
        padding: 5px 10px;
    }
    
    .mainnav ul li a {
        text-decoration: none;
        color: #777;
        text-align: center;
        font-size: 20px
    }
    
    .mainnav ul li a:hover {
        color: #3a8ade;
    }
    
    footer {
        background-color: #222;
        background-repeat: repeat;
        width: 100%;
        padding: 10px 0 10px 0;
        border-bottom: 5px solid rgb(71, 84, 101);
        min-height: 60px;
        /*position: relative;*/
    }
    
    .footernav {
        height: 30px;
        margin-top: 15px;
    }
    
    .footernav ul {
        list-style-type: none;
        margin-top: 20px;
        width: 292px;
        margin: 0px auto;
    }
    
    .footernav ul li {
        display: inline;
        padding: 5px 10px;
    }
    
    .footernav ul li a {
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-size: 16px
    }
    
    .footernav ul li a:hover {
        color: #3a8ade;
    }
    
.contentTable{
    width:80%;
    border: 1px solid #ccc;
    margin: 0px auto;
}
.contentTable td,.contentTable th{
    text-align: left;
    padding: 8px 12px;
    background-color: #ddd;
}
.contentTable td{
    border-bottom:1px solid #fff;
}

.contentTable th{
        background-color: #888;
        color:#000;
}
    


